@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url(/bg5.webp);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}



/* select gender box arrow css */
.custom-select {
  appearance: none; /* Hide default arrow */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='white'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M19 9l-7 7-7-7' /%3E%3C/svg%3E");
  background-position: right 0.75rem center; /* Arrow position */
  background-repeat: no-repeat; /* Prevent repeat */
  background-size: 1.25rem; /* Arrow size */
}
